<div class="card mt-5">
    <h5 class="card-header">
      {{tableHeader}}
    </h5>
    <div class="card-body">
        <form [formGroup]='formGroup'>
            <div class ="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 mb-3" *ngFor='let formField of formFields'>            
                    <label> {{ formField.label }}</label>
                    <div *ngIf="formField.fieldType == 'SELECT'">
                        <select class="form-select" [(ngModel)]='formField.value' formControlName="{{formField.fieldName}}">
                            <option value="True" selected>True</option>
                            <option value="False">False</option>
                          </select>
                    </div>
                    <div *ngIf="formField.fieldType != 'SELECT'">
                        <input class='form-control' type='{{ formField.fieldType }}' 
                        [(ngModel)]='formField.value' formControlName="{{formField.fieldName}}"/>
                    </div>
                </div>
            </div>
            <button type='submit' (click)='onSubmit(formGroup.value)' class='btn btn-primary'>Update</button>
            <button (click)='onDelete(formGroup.value)' class='btn btn-danger'>Delete</button>
            <button type='reset' class='btn btn-light'>Reset</button>
        </form>
    </div>
</div>


                
