<div *ngIf="isUserOperator">
<app-form 
    [formFields] = "formFields"
    [tableHeader]= "tableHeader"
    (updateEvent)="onUpdate($event)"
    (deleteEvent)="onDelete($event)"
></app-form>
</div>

<div class="form-check form-switch col-3 checkbox-card">
    <input class="form-check-input" (change)="onChangeUserType()" [(ngModel)]="isUserOperator" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">I'm an operator</label>
</div>

<div *ngIf="dataSource">
<app-table 
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    (selectionChangeEvent)="onChangeSelection($event)">
</app-table>
</div>

